<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "gals" %>

  </head>
  <body>

    <nav>
    	<a href="<%=pages_home_path%>"><h1>My Museum</h1></a>

      <div class="navright">
			  <a href="<%=pages_login_path%>" class="btnlogin">Log In / Sign Up</a>
			</div>

		</nav>

    <div class="subtitle">
			<p>Votre Gallerie</p>
		</div>


    <ul class="honeycomb" lang="es">
  <li class="honeycomb-cell">
    <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/1">
    <div class="honeycomb-cell__title"><a href="<%=pages_design_path%>">Design</a></div>
  </li>
  <li class="honeycomb-cell">
    <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/2">
    <div class="honeycomb-cell__title">Classic</div>
  </li>
  <li class="honeycomb-cell">
    <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/3">
    <div class="honeycomb-cell__title">Street Art</div>
  </li>
  <li class="honeycomb-cell">
    <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/4">
    <div class="honeycomb-cell__title">Coeval</div>
  </li>
  <li class="honeycomb-cell">
    <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/5">
    <div class="honeycomb-cell__title">Surrealist</div>
  </li>
  <li class="honeycomb-cell">
    <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/6">
    <div class="honeycomb-cell__title">Polaroid</div>
  </li>
  <li class="honeycomb-cell">
    <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/7">
    <div class="honeycomb-cell__title">Tablero magnético</div>
  </li>
  <li class="honeycomb-cell honeycomb__placeholder"></li>
</ul>


    <i class="fa fa-paint-brush return" onclick="goBack()"></i>


  </body>
</html>
